#user {
  margin-bottom: 10px;
}

.top {
  align-items: center;
  display: flex;
  justify-content: center;
}

img {
  border-radius: 50%;
  margin-right: 20px;
}

.info {
  flex: 1;
}

.name {
  font-size: xx-large;
}

.username {
  color: #888;
  font-style: italic;
  margin-top: 5px;
}

.bottom {
  margin-top: 10px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.address {
  border-right: 1px solid #ccc;
}

.address,
.phones {
  padding: 10px;
  flex-grow: 1;
}

.align-right {
  text-align: right;
}
